 <div id="new_word">
   <form action="#">
     <input type="text" name="type" placeholder="type (verb or noun)" <br>
     <input name="name" type="text" placeholder="name"><br>
     <textarea cols='60' rows='10' name="action" placeholder="action (return a ruby lambda)"></textarea><br>
     <input type="submit" value="add word">
   </form>
 </div>

