<div id="words_list">
  <div id="template">
    <br><div class="name"></div>
    <div class="type"></div>
    <div class="action"></div>
    <a href="#" class="remove_word"></a>
    <a href="#" class="edit_word"></a>
    <br>
  </div>
</div>

