<!DOCTYPE html>
<html>
<head>
  <title>Video.js | HTML5 Video Player</title>
  <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
</head>


  <body>
  
     <button id="speakButton">Speak command</button>
     <br> <b id="speakNow">Speak Now </b>
     
      <hr>
      <h4> Messages </h4>
     <div id="msgs"></div>

    <hr>
    
    <video width="320" height="240" controls>
      <source src="test.mp4" type="video/mp4">
    </video>

  </body>

  <script type="text/javascript">
  var recognition = new webkitSpeechRecognition();

$(function(){

  $("#speakNow").hide()
  
  function SetVideoSrc(filepath) {
    var video = $("video")[0]
    video.src = filepath
    video.play()
  }
  
    window.onload = function(){
      (function(){
        var show = function(el){
          return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
        }(document.getElementById('msgs'));

        var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
        ws.onopen    = function()  { show('websocket opened'); };
        ws.onclose   = function()  { show('websocket closed'); }
        ws.onmessage = function(m) {
          SetVideoSrc(m.data)
        };

      window.testSocket = ws

        $("#speakButton").on("click", function(e){
          recognition.onresult = function(event) {
            result = event.results[0][0].transcript
            ws.send(result)
            $("#speakNow").hide()
          }
          recognition.start();
          $("#speakNow").show()
        })
          
      })()
    }
    
})

  </script>

</html>
